<!--I'm the home page!

= link_to "Authorize Facebook", auth_facebook_path-->


<!DOCTYPE html>
<html>
<head>
	
	<title>Music Grid Home</title>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/home.css" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>

<body>

<div class="wrapper">	

<header>
	<div class="topfix">
	<nav role="navigation" class="main">
					<img id="logo" src="../../assets/images/logo.png">
					<p class="logotype1">MUSIC</p>
					<p class="logotype2">GRID</p>
				
					<ul class="top_right">
						<li class="top_right"><a class="top_right" href="#">LOGOUT</a></li>
						<li class="top_right"><a class="top_right" href="#">SETTINGS</a></li>
					</ul>
				
			</nav>
	</div>
</header>

	<div class="container">

		<aside>
			<div><img class="headshot" src="../../assets/images/headshot.jpg" />
				
			</div>
			<h3>Samantha Douglas</h3>
			<div class="inline">
				<a class="inline" href="#">Edit Profile</a>
			</div>
			<div class="sprite">
				<a class="icon" href="#">
					<img class="icon" src="../../assets/images/delicious-64.png" alt="Delicious" title="Delicious" />
				</a>
				<a class="icon" href="#">
					<img class="icon" src="../../assets/images/smashingmagazine-64.png" alt="Smashing Magazine" title="Smashing Magazine" />
				</a>
				<a class="icon" href="#">
					<img class="icon" src="../../assets/images/twitter-64.png" alt="Twitter" title="Twitter" />
				</a>
				<a class="icon" href="#">
					<img class="icon" src="../../assets/images/treehouse-64.png" alt="Team Treehouse" title="Team Treehouse" />
				</a>
				<a class="icon" href="#">
					<img class="icon" src="../../assets/images/wordpress-64.png" alt="WordPress" title="WordPress" />
				</a>
			</div><!--End of "sprite-->

			<div class="ad">
				<img src="../../assets/images/criminal.png">
			</div>

		</aside>

		<div class="flex-column">
		<!--
			<h1>My crate</h1>
			<p>Testing 123</p>
		-->
			<div class="container_middle">
				<section class="recommendations">
					<h2><a class="recommendations" href="#">Crate Recommendations</a></h2>
					
						<div class="gallery">
							<div class="album1"><a class="album1" href="#">+</a>
							</div>

							<div class="album2">
							</div>

							<div class="album3">
							</div>

							<div class="album4">
							</div>

						</div><!--End of "gallery"-->

						<div class="gallery">

						<div class="album4">
						</div>

						<div class="album3">
						</div>

						<div class="album2">
						</div>

						<div class="album1">
						</div>
					
					</div><!--End of "gallery"-->
				</section><!--End of "recommendations"-->

			<section class="my_crate">
					<h2>My Crate</h2>
					
					
						<div class="gallery">
							<div class="album1">
							</div>

							<div class="album2">
							</div>

							<div class="album3">
							</div>

							<div class="album4">
							</div>

						</div><!--End of "gallery"-->

						<div class="gallery">

						<div class="album4">
						</div>

						<div class="album3">
						</div>

						<div class="album2">
						</div>

						<div class="album1">
						</div>
					
					</div><!--End of "gallery"-->
				</section><!--End of "my_crate"-->

	</div><!--End of "container_middle"-->

		</div> <!--End of "flex-column"-->


	</div> <!--End of "container"-->



</div> <!--End of "wrapper"-->

<footer>
<div><img class="icon" src="../../assets/images/ftr_icon.png" /></div>
<small>Copyright 2014 | Music Grid, Inc.</small>
</footer>


</body>
</html>
